$background_color: #F7F9FC;
$button_color: #1d4ed8;
$button_color_alternate: #3366ff1f;
$input_color: #fff;
$placeholder_color: #3366ff4b;
$text_color: #111827;

$black: #000;
$white: #FFF;
$bottom_gradient_start: #b9cbff00;
$bottom_gradient_end: #3366ff57;

$valid_color: #33ff8f;
$invalid_color: #ff333d;
