.anim-card {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: .6rem;
  box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
  color: #F7F9FC;
  cursor: pointer;
  * {
    transition: all .4s ease-in;
  }

  &:hover {

    .anim-card-blur {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: inherit;
      filter: grayscale(90%) blur(.2rem) sepia(20%);
    }

    .anim-card-text {
      visibility: visible;
    }
  }

  .anim-card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    visibility: hidden;
    font-size: large;
    font-weight: bold;
    &.primary {
      color: #111827;
    }
  }
}
